<h1>This is the user index</h1>

<ul>
	<% @users.each do |user| %>
		<li><%= link_to "#{user.name} #{user.email} #{user.address} #{user.city} #{user.zip} ", user %></li>
	<% end %>
</ul>

<%= link_to "Create New User", new_user_path %>
<%= link_to "Take me to User's index Page", reports_path %>