.container-fluid
	.row
		.col-md-6
			%h1.text-center Sign up for an account
			= render 'form'
		.col-md-6
			- unless @user.errors.full_messages.empty?
				%h1.text-center Please fix your errors 
			%ul.list-group
				- @user.errors.full_messages.each do |msg|
					%li.list-group-item.list-group-item-danger
						= msg