.container-fluid
  .row
    .col-sm-6.col-sm-offsee-t
      %h1.text-center Sign up for an account
      %ul.list-group
        - @user.errors.full_messages.each do |msg|
          %li.list-group-item.list-group-item-danger
          = msg
        = render 'form'