%h1 All Reports
.row
	.col-sm-3
		%ul
			- @reports.each do |report|
				%li 
					= link_to report.name.titleize, report
					%br 
					- if report.address
						%strong Location:
						%br
						= simple_format report.full_address
					