%h1 All Reports
.row
	.col-sm-3
		%ul
			- @reports.each do |report|
				%li
					= report.name 
					%br
					%strong Cross Streets: 
					= report.location
					%br
					%strong More Info:
					= link_to 'show report', report